/*注册*/

.hsh-page{
    width: 94%;
    padding-top: 50px;
    margin: 0 auto;
}
.he-header-re {
    background-color: white;
    color: #222222;
}

.hsh-login-list {
    width: 85%;
    margin: 20px auto;
}

.hsh-login-list li {
    font-size: 1rem;
    line-height: 35px;
}
.hsh-login-list li.bor_ra{
    border: 1px solid #ccc;
    margin-bottom: .6rem;
    border-radius: .6rem;
    padding: 2px 5px;
}

.hsh-login-list li span {
    display: inline-block;
    width: 26%;
    color: #666;
    padding-left: 6px;
    font-size: .9rem;
}

.hsh-login-list li input {
    width: 100%;
    height: 35px;
    font-size: .9rem;
    padding: 0 6px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hsh-login-list .register {
    border-bottom: hidden;
}

.hsh-login-list .register button {
    width: 100%;
    margin-top: 18px;
}

.hsh-login-list .code {
    width: 64%;
}

.hsh-login-list .code-btn {
    width: 29%;
    font-size: 0.8rem;
    float: right;
    margin-top: 14px;
    line-height: 32px;
}

.hsh-login-list .explain {
    border-bottom: none;
    color: #999999;
    font-size: 0.8rem;
}

.hsh-login-list .explain p {
    display: inline-block;
    color: #508df2;
}

.hsh-login-list .code-btn {
    width: 29%;
    font-size: 0.6rem;
    float: right;
    margin-top: 5px;
    line-height: 28px;
    height: 28px;
}
.btn-blue {
    background-color: #2cd052;
    color: #F4F8FE;
    line-height: 46px;
    border: none;
    border-radius: 24px;
    font-size: 0.9rem;
    padding: 0;
}

.he-page{
    padding-top: 50px;
    text-align: center;
}
.he-page .title{
    margin-top: 20%;
    font-size: 1.2rem;
}
.he-page .hint{
    margin-top: 30px;
    font-size: 1.0rem;
}
.he-page button{
    margin-top: 25px;
    border: none;
    background-color: #508df2;
    color: white;
    width: 30%;
    height: 40px;
    border-radius: 4px;
}
.he-page .lis1{
    margin-right: 10%;
}
.he-page button a{
    color: white;
}

.code_select{
    height: 30px;
    font-size: 1.0rem;
    padding: 0 6px;
    border: none;
    color: #666;
}
/*
    注册
*/
.reg_box{
    height: 100vh;
    background: url("/public/pack/image/bj_zhuce@2x.png") no-repeat;
    background-size: 100% 100%;
}
.head_imgbox{
    text-align: center;
}
.head_imgbox img{
    width: 90%;
}
.hsh-login-list li input.invite{
    text-align: right;
    width: 50%;
    float: right;
    color: #666;
}
.invite_li{
    overflow: hidden;
}
.invite_li span{
    color: #666;
    font-size: .9rem;
    padding-left: 6px;
}
.hsh-login-list li .code-btn{
    background: none;
    color: #666;
    border-left: 1px solid #ddd;
    border-radius: initial;
    padding-left: 4px;
}
.foot_imgbox{
    padding-top: .8rem;
}
.foot_imgbox img{
    width: 100%;
}