* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Microsoft YaHei", "SimSun", "SimHei", "KaiTi", "LiSu";
    line-height: 1;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

input, button {
    outline: none;
    font-family: "Microsoft YaHei", "SimSun", "SimHei", "KaiTi", "LiSu";
}

/*.mask {*/
/*position: fixed;*/
/*width: 100%;*/
/*height: 100%;*/
/*background: rgba(0, 0, 0, 0.5);*/
/*top: 0;*/
/*bottom: 0;*/
/*z-index: 100000;*/
/*}*/
.shz-back{
    background-color: #F0F0F0;
}
.shz-bottom{
    margin-bottom: 50px;
}
/*===================标题栏=======================*/
.shz-header {
    line-height: 45px;
    text-align: center;
    font-size: 1.7rem;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10000000;
    border-bottom: 1px solid #ECECEC;
}

.shz-header .left {
    position: absolute;
    width: 60px;
    font-size: 1.3rem;
}

.shz-header .left img {
    width: 25px;
    margin-top:12px;
    margin-left: -26px;
}

.shz-header .right {
    position: absolute;
    top: 22px;
    right: 10px;
    font-size: 1.3rem;
    color: #FFFFFF;
}

.shz-header .right img {
    width: 54%;
    margin-top: 15px;
    margin-right: -16px;
    box-sizing: border-box;
}
.article_detail{
    width: 100%;
    position: absolute;
    top:0px;
}

.article_detail h1{
    font-size:14px;
    text-align: center;
    margin-bottom:10px;
}
.article_detail p
{
    line-height:26px;
    font-size:14px;
    padding-left:2%;
}
.article_detail img{
    display:block;
    width: 98%;
}
/*================================================线路详情====================================================*/
.shz-rd-pic{
    width: 100%;
}
.shz-rd-top{
    background-color: white;
    padding: 16px 15px;
}
.shz-rd-top .title{
    font-size: 1.6rem;
}
.shz-rd-top .num{
    font-size: 1.5rem;
    margin-top: 15px;
    color: #FB6162;
}
.shz-rd-feature{
    margin: 8px 0;
    background-color: white;
    padding: 20px 15px;
}
.shz-rd-feature .title{
    font-size: 1.7rem;
}
.shz-rd-feature .content{
    margin-top: 12px;
    line-height: 23px;
    font-size: 14px;
    color: #757575;
}
.shz-rd-title{
    background-color: white;
    line-height: 40px;
    font-size: 1.6rem;
    padding-left: 15px;
}
.shz-rd-details{
    background-color: white;
    font-size: 1.5rem;
    padding: 20px 15px 0 15px;
    color: #757575;
    border-bottom: 1px solid #E2E2E2;
}
.shz-rd-details .detail{
    font-size: 1.7rem;
    color: #363636;
}
.shz-rd-details .title{
    font-size: 1.7rem;
    color: #363636;
    text-align: center;
}
.shz-rd-details .title .line{
    border-bottom: 1px solid ;
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    color: #DADADA;
}
.shz-rd-details .title img{
    width: 12px;
    vertical-align: middle;
    margin: 0 8px;
}
.shz-rd-details .route p{
    line-height: 40px;
}
.shz-rd-details .route img{
    width: 100%;
}
.shz-rd-details .route div{
    padding: 15px 0;
    line-height: 22px;
}

/*住宿详情*/
.swiper-wrapper img{
    width: 100%;
}
.shz-lisdet-title{
    padding: 0 15px;
    background-color: white;
}
.shz-lisdet-title .title{
    padding: 15px 0;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 25px;
    border-bottom: 1px solid #ECECEC;
}
.shz-lisdet-title .list{
    overflow: hidden;
    padding: 15px 0;
    font-size: 1.5rem;
    color: #A6A6A6;
    border-bottom: 1px solid #ECECEC;
}
.shz-lisdet-title .list li{
    float: left;
    width: 25%;
    text-align: center;
}
.shz-lisdet-title .list li img{
    width: 40%;
    margin-bottom: 10px;
}

.shz-lisdet-title .introduce{
    line-height: 45px;
    font-size: 1.7rem;
    color: #363636;
}
.shz-lisdet-title .lis{
    line-height: 25px;
    font-size: 1.5rem;
    color: #A6A6A6;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 10px;
}
.shz-lisdet-title .ask{
    line-height: 50px;
    font-size: 1.7rem;
    color: #363636;
    background-color: white;
}
.shz-lisdet-facilities{
    background-color: white;
    margin: 8px 0;
    padding:0 15px;
}
.shz-lisdet-facilities .title{
    line-height: 50px;
    font-size: 1.7rem;
    color: #363636;
}
.shz-lisdet-facilities .list{
    overflow: hidden;
    padding: 15px 0;
    font-size: 1.5rem;
    color: #A6A6A6;
}
.shz-lisdet-facilities .list li{
    float: left;
    width: 25%;
    text-align: center;
}
.shz-lisdet-facilities .list li img{
    width: 40%;
    margin-bottom: 10px;
}
.shz-lisdet-det{
    padding: 10px 15px;
    background-color: white;
}
.shz-lisdet-det .title{
    font-size: 1.7rem;
    color: #363636;
}
.shz-lisdet-det .det{
    font-size: 1.5rem;
    color: #A6A6A6;
    margin-top: 8px;
}
.shz-lisdet-det img{
    float: right;
    width: 20px;
    margin-top: -30px;
}
/*========================商品详情===========================*/
.shz-waredet-top{
    background-color: white;
    padding: 16px 15px;
    border-bottom: 1px solid #F7F7F7;
    border-top: 1px solid #F7F7F7;
}
.shz-waredet-top .title{
    font-size: 1.6rem;
}
.shz-waredet-top .num{
    font-size: 1.5rem;
    margin-top: 15px;
    color: #FB6162;
}
.shz-waredet-con{
    background-color: white;
    padding: 6px 15px 20px 15px;
    font-size: 1.4rem;
    line-height: 22px;
    color: #7B7B7B;
}
.shz-waredet-parameter{
    margin-top: 10px;
    background-color: white;
    font-size: 1.4rem;
}
.shz-waredet-parameter .title{
    padding: 0 15px;
    line-height: 40px;
    font-size: 1.6rem;
    border-bottom:1px solid #F7F7F7;
}
.shz-waredet-parameter .list{
    padding: 8px 15px;
    font-size: 1.3rem;
}
.shz-waredet-parameter .list span:first-child{
    display: inline-block;
    width: 7rem;
    line-height: 22px;
    color: #A1A1A1;
}
/*修改++++++++++++++++++++++++++++++++++++++++*/
.synopsis{
    font-size: 14px;
    color: #666;
    overflow: hidden;
    padding: 0 20px;
    background: #ffffff;
}
.synopsis .text_ell{
    float: left;
    width: 85%;
    line-height: 28px;
    overflow: hidden;/*内容超出后隐藏*/
    text-overflow: ellipsis;/*超出部分以省略号显示*/
    white-space: nowrap;/*文本不进行换行*/
}
.synopsis .good_num{
    float: left;
    width: 15%;
    text-align: right;
    line-height: 28px;
    font-size: 12px;
}
 .synopsis h3{
    font-weight: normal;
    font-size: 16px;
    padding: 15px 0;
}
 .synopsis .pri{
    padding: 0 0 10px 0;
}
.synopsis .xing_b{
    float: right;
    display: inline-block;
}
.synopsis .xing_b img{
    width: 80px;
    vertical-align: text-bottom;
}
.pl_15{
    padding-left: 15px;
    color: #333;
    font-size: 14px;
}
.synopsis .syn_title{
    display: inline-block;
    width: 70%;
    line-height: 23px;
    font-size: 16px;
}

.synopsis .level{
    line-height: 25px;
}
.synopsis .level img{
    width: 90%;
    padding-left: 10%;
}
.le_d{
    float: left;
    width: 70%;
}
.left_d .title-p{
    overflow: hidden;
    word-break: break-all;
    line-height: 21px;
}
.rig_d{
    float: right;
    width: 30%;
    padding: 10px 0;
}
.pb_10{
    padding-bottom: 10px;
}
.pri {
    font-size: 14px;
}
.pri .w30b{
    display: inline-block;
    width: 30%;
}
.col_ff7{
    color: #FF7F19;
}
.price{
    font-size: 16px;
    font-weight: normal;
}

/*司导信息*/
.cir_con{
    padding: 18px 20px 20px;
    margin-top: 10px;
    background: #ffffff;
    overflow: hidden;
}
.cir_con h1{
    font-size: 17px;
    font-weight: normal;
    padding: 0 0 18px 0;
}

.driver_info .head_img{
    width: 65px;
    height: 65px;
    vertical-align: middle;
}
.driver_info .dri_xx{
    display: inline-block;
    width: 75%;
    float: right;
    line-height: 23px;
    padding: 8px 0;
}
.driver_info .dri_xx .dis_block{
    display: block;
}

.dri_xx span{
    padding: 0 5px 5px 0;
}
.dri_xx span:last-child{
    padding: 0;
}
.dri_xx .drive_name{
    color: #333333;
    font-size: 15px;
}
.dri_xx .drive_id,.dri_xx .drive_addre{
    color: #666666;
    font-size: 13px;
}
.dri_xx .drive_id i,.dri_xx .drive_name i{
    font-style: normal;
    font-size: 13px;
    color: #666666;
}
.dri_xx .drive_name i{
    padding-right: 5px;
}
.dri_xx .drive_addre i{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../image/location.jpg) no-repeat;
    background-size: 100%;
    background-position: 40%;
    vertical-align: sub;
}

.box2 li{
    line-height: 30px;
}
.box2 .s-head,.box4 .s-head{
    display: inline-block;
    width: 100px;
    text-align: left;
    font-size: 13px;
    color: #666666;
}
.box2 .s-con{
    font-size: 14px;
    color: #222;
}

/*收到的评价*/
.appraise h1 span,.dr_assess h1 span{
    font-size: 15px;
    color: #666666;
    float: right;
    padding-top: 2px;
}
.mt_10{
    margin-top: 10px;
}
.dr_repeat{
    padding: 20px 20px;
    background: #ffffff;
}
.dr_repeat h1{
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 15px;
}
.line>h1{
    padding-bottom: 0;
}
.line .days_num{
    padding: 30px 0 5px;
    text-align: center;
}
.line_title{
    padding-top: 15px;
    color: #666;
    font-size: 15px;
}

.route_bomb{
    background: #fff;
}
.route_bomb ul{
    border: none;
    padding-bottom: 0;
}
.route_bomb li{
    border-bottom: 1px solid #e8e8e8;
    padding: 0 20px;
    line-height: 40px;
}
.route_bomb li:nth-last-of-type(1){
    border: none;
}
.route_bomb li .s-con{
    color: #2CD052;
}
.route_bomb .s-con i{
    background: url(../image/icon_enter@2x.png) no-repeat;
    background-size: 100%;
    height: 14px;
}
.mt_10{
    margin-top: 10px;
}

.box2 li{
    line-height: 30px;
}
.box2 .s-head,.box4 .s-head{
    display: inline-block;
    width: 100px;
    text-align: left;
    font-size: 13px;
    color: #666666;
}
.box2 .s-con{
    font-size: 14px;
    color: #222;
}
.box4 li{
    line-height: 35px;
}
.box4 ul{
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}
.box4 .s-con{
    float: right;
    font-size: 14px;
    color: #222;
}
.box4 .s-con i{
    display: inline-block;
    width: 8px;
    height: 12px;
    background: url("../image/icon_enter@2x.png") no-repeat;
    background-size: 100%;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 2px;
}

.mb_10{
    margin-bottom: 10px;
}
.box5 p{
    font-size: 14px;
    color: #666;
}

.bomb_box{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    z-index: 100000;
    font-size: 15px;
}
.bomb_con,.bomb_con2{
    max-height: 90%;
    overflow-y: auto;
    overflow-x: auto;
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;
    width: 85%;
    border-radius: 8px;
    padding: 15px;
}

.title-h1{
    font-size: 17px;
    color: #333;
    line-height: 30px;
    text-align: center;
}
.title-h1 i{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../image/close.png") no-repeat;
    background-size: 65%;
    float: right;
    margin-top: 3px;
}
.bomb-div{
    overflow: hidden;
}
.bomb-div h2{
    font-size: 16px;
    color: #333;
    line-height: 28px;
}

.two-con-div{
    padding: 10px 0;
}
.two-con-div p{
    font-size: 14px;
    color: #444;
    line-height: 24px;
}









